body{
    background-color: #2EC4B6;
    color: white;
}

.container{
    border-radius: .80rem;
    border: 10px solid #FFB302;
    background-color: #004E64;
}

.jumbotron{
    background-color: #2F97C1;
    border: 5px solid #FFB302 !important;
}

#timer, #question{
    border-radius: .80rem !important;
    border: 5px solid #FFB302 !important;
    background-color: #2F97C1 !important;
}

#countdown{
    font-size: 40px;
}

/* .countred{
    color: red;
    font-size: 40px;
} */

.card{
    background-color: #2F97C1 !important;
    border: 3px solid #FFB302 !important;
}

.card:hover{
    box-shadow:  0 4px 10px 1px rgba(0,0,0,.06), 0 3px 8px 1px rgba(0,0,0,.16);
}

.fa-check{
    display: none ;
    font-size: 2em;
    color: lawngreen;
}

.btn{
    background-color: #FFB302;
}